.post-module {
  @extend .card, .columns, .is-multiline;

  margin: 1rem 0;
  position: relative;
  // z-index: 1;
  display: block;
  background: #fff;
  min-width: 270px;
}

.post-module:last-child {
  margin-bottom: 0;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}

.post-module .thumbnail {
  background: #000;
  // height: 400px;
  overflow: hidden;
  padding: 0;
}

.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: #396383;
  width: 55px;
  height: 55px;
  padding: 8px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-module .thumbnail .date .day {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.post-module .thumbnail .date .month {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module .post-content {
  background: #fff;
  // width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  max-width: 648px;
  margin: 0 auto;
  flex-grow: 1;
}

.post-module .category {
  float: left;
  position: relative;
  margin-top: -41px;
  z-index: 1;
  background: #396383;
  padding: 10px 15px;
  color: #fff;
  // font-size: 14px;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  align-self: start;
}

.post-module .post-content h3 {
  color: #396383;
}

.post-module .post-content .description {
  // display: none;
  color: #666;
  // font-size: 14px;
  line-height: 1.8em;
}

.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999;
}

.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}

.post-module .post-content .post-meta a {
  color: #999;
  text-decoration: none;
}
